.building__card {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    height: 100%;
    background-color: #fff;
    color: #b0b0b0;
    background-clip: border-box;
    border-radius: 0 0 0rem 3.25rem ;
    margin-bottom: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 400ms ease, -webkit-transform 400ms ease;
}

.card__image {
    max-width: 100%;
}

.card__body {
    padding: 1rem 2rem 2rem;
    text-align: left;
    
}
.card__title {
    margin: 0 0 1rem;
    color: rgb(85, 26, 139);
    transition: all 250ms ease, box-shadow 250ms ease;
}

.card__icon {
    width: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    fill: #ff4f87;
    transition: all 250ms ease, box-shadow 250ms ease;
}

.building__card:hover {
     background: #ff4f87;
     height: 100%;
     color: white;  
     border-radius:0 ;
}

.card__adress-list {
    margin: 1rem 0 1rem;
    list-style: none;
    padding: 0 0 1rem;
    border-bottom: 1px solid #d8d8d8;
}

.card__list-info {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 0 0 1rem;
}
.card__li {
    margin-bottom: 0.5rem;
}

.card__button {
    position: absolute;
    bottom: 1rem;
    width: 30%;
    right: 10%;
    background: #ff4f87;
    padding: .45em 1em;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 17px;
    transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
    transition: all 250ms ease, box-shadow 250ms ease;
}
.building__card:hover .card__button {
    background: white;
    color: #ff4f87;
    width: 80%;
}
.building__card:hover .card__title {
    color: white;
}
.building__card:hover .card__icon {
    fill: white
    ;
}
